name: Table Sum Check

on:
  push:
  workflow_dispatch:

jobs:
  run-playwright:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Install browsers
        run: npx playwright install --with-deps

      - name: Run scraper for 23f3003209@ds.study.iitm.ac.in
        run: node scrape.mjs